* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cera Pro";
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin-top: 60px;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

header {
  font-size: 0px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 0.3px solid #46a35880;
  margin-bottom: 40px;
}


main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f580;
}

.header-logo {
  width: 150px;
}

button {
  min-width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  border: 0px;
  border-radius: 6px;
  background-color: #46a358;
  margin: 30px 0 18px;
  color: #ffffff;
}

span {
  color: #46a358;
}

button span {
  padding: 4px 0px;
}

section {
  width: 100%;
  margin: 0 auto;
}

ul {
  text-align: center;
}

li {
  display: flex;
  font-size: 16px;
  position: relative;
}

li a {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  font-size: 16px;
  font-weight: 700;
  color: #218838;
  border-bottom: 3px solid #46a358;
}

li a.item-active {
  border-bottom: 3px solid #46a358;
  font-size: 16px;
  font-weight: 700;
  color: #218838;
}



nav ul  {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}

nav ul .second-menu {
  display: none;
}

nav ul li:hover > .second-menu {
  display: block;
  position: absolute;
}

nav ul li ul  {
  padding: 20px;
  background: #EDF6EE;
}


.second-menu  {
  padding-top: 40px;
  position: absolute;
}