* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cera Pro";
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin-top: 60px;
}

.container {
  width: 100%s;
  max-width: 1202px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin: 0 auto;
  padding: 20px;
}


.product-card {
  max-width: 586px;
  background-color: #FBFBFB;

  padding: 20px;
  text-align: right;
  margin-left: auto;
  display: flex;
}

.cactus-succulent,
.styling-trends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 0;
}


.product-cactus-img,
.product-styling-img {
  width: 230px;
  height: auto;

}


.product-title {
  max-width: 150px;
  font-size: 18px;
  font-weight: 700;
  color: #3D3D3D;
  text-transform: uppercase; 
  margin-left: auto;
  line-height: 24px;
}





.product-description-info {
  color: #3d3d3d;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start; /* Выровнять по левому краю */
  font-size: 14px;
  color: #727272; /* Приглушенный цвет */
  line-height: 24px;
  margin-left: auto;
}


.button {
  display: inline-block;
  background-color: #46A358;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.button:hover {
  background-color: #218838;
}

/* .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

article {
  padding: 30px 4px;
}

.sidebar {
  width: 100%;
  max-width: 310px;
  background: #fbfbfb;

  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .head {
    padding: 14px 18px;
}

.sidebar .sidebar-sale-promo  img {
    width: 100%
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #3d3d3d;
}

.sidebar ul {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.sidebar ul a {
  text-decoration: none;
  color: #3d3d3d;
  padding: 12px 10px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a.active,
.sidebar ul li:hover a {
  font-weight: 700;
  color: #46a358;
}


.tabs {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: flex;
  gap: 35px;
}

.tabs a {
  margin-right: 37px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}

.tabs a:last-child {
    margin-right: 20px;
}

.tabs a.active,
.tabs a:hover {
  color: #46a358;
  font-weight: 700;
  border-bottom: 2px solid #46a358;

}


section.product-filter  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.sort  {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort p  {
    margin: 0px;
    padding: 0px; 
    align-items: flex-start;
} */
