* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid; */
}

header {
  display: flex;
  font-size: 0px;
  width: 100%;
  margin-bottom: 40px;
  /* margin: 0 auto;   */
  border-bottom: 0.3px solid #46a35880;
  /* background-color: #FBFBFB; */
}

body {
  font-family: "Cera Pro";
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  /* background-color: #FBFBFB; */
}

ul li {
  display: flex;
  padding: 4px 8px;
}

/* nav ul li {
  padding: 10px 30px;
} */

/* СТИЛИЗАЦИЯ ВЕРХУШКИ */

.header-block {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1440px;
}

.header-logo {
  max-width: 150px;
  display: flex;
  align-items: center;
}

.header-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header-tools svg:hover .search-icon,
.header-tools svg:hover .cart-icon {
  fill: #46a358;
  stroke: #46a358;
}

.welcome-block {
  background-color: #fbfbfb;
}

button.btn-header {
  min-width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  border: 0px;
  border-radius: 6px;
  background-color: #46a358;
  /* margin: 30px 0 18px; */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
button.btn-header svg {
  margin-right: 8px;
}

.btn-header a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

button.btn-header:hover {
  background: #218838;
  cursor: pointer;
}

span.welcome-block__h1 {
  color: #46a358;
}

button span {
  padding: 4px 0px;
}

section.clear-float {
  /* width: 100%; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-header li a {
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  padding: 10px 0px;
  text-decoration: none;
  color: #3d3d3d;
  border-bottom: 3px solid #46a358;
  border-color: transparent;
  transition: all 0.5s;
}

.item-active {
  font-weight: 700;
  border-bottom: 3px solid #46a358;
}
/* 
nav  {
  display: flex;
  /* width: calc(100% - 250px); */
/* }  */

h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
  margin: 0;
  color: #3d3d3d;
}

section.welcome-block {
  margin-bottom: 40px;
  /* width: 1440px; */
}

/* 27 11 20-22 делал исправления, ошибка была в двух точках перед класом */
.welcome-block__image img {
  width: 100%;
}

.welcome-block__content {
  padding: 55px 30px 0px 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.welcome-block__greetings {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
}

.welcome-block__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727272;
  padding-bottom: 40px;
  width: 540px;
}

.btn {
  min-width: 140px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  background-color: #46a358;
  padding: 15px;
  transition: all 0.5s;
}

.btn:hover {
  background: #218838;
}

.btn span {
  color: #ffffff;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.welcome-block__image {
  display: flex;
  /* vertical-align: top;
  width: 40%; */
}

/* КОНЕЦ СТИЛИЗАЦИИ ВЕРХУШКИ */

.container {
  display: flex;
  gap: 50px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-contant {
  width: 100%;
  max-width: 1440px;
}

.navbar-header ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style-type: none;
  position: relative;
}

nav ul a {
  color: #3d3d3d;
  text-decoration: none;
}

nav ul a:hover {
  font-weight: 700;
  color: #3d3d3d;
}

.first-menu-list a:hover {
  border-bottom: 3px solid #46a358;

  /* padding-bottom: 10px; */
}

.second-menu-list a:hover {
  border-bottom: none;
}

nav ul .second-menu {
  display: none;
  z-index: 1;
}

nav ul li:hover > .second-menu {
  display: block;

  /* position: absolute; */
}

.second-menu ul li {
  display: flex;
  flex-direction: column;
  /* float: left; */
  padding: 4px 8px;
  gap: 30px;
}

.priming-arrow {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
  display: none;
}

.second-menu a:hover > .material-symbols-outlined {
  display: block;
}

.second-menu ul {
  padding: 0px;
  background-color: #edf6ee;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.second-menu {
  padding-top: 20px;
  position: absolute;
  width: 188px;
  height: 143px;
  text-decoration: none;
  color: #3d3d3d;
  top: 40px;
  right: 30px;
}

.second-menu li {
  /* position: relative; меню вверху*/
  width: 100%;
}

.second-menu a {
  display: flex;
  font-size: 16px;
  width: 100%;
  padding: 10px 8px;
  color: #3d3d3d;
  text-decoration: none;
}

.second-menu a:hover {
  font-weight: 700;
  color: #ffffff;
  background-color: #1a712a;
}

.second-menu li:hover > .third-menu {
  display: block;
}

.third-menu {
  display: none;
  position: absolute;
  left: 96%;
  top: 0px;
  width: 188px;
  padding-left: 10px;
}

/* .clear-float::after {
  content: "";
  display: block;
  clear: both;
} */

/* .container-main {
  display: flex;
  gap: 50px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
} */

.container-main img {
  float: left;
  width: 100%;
  margin-bottom: 12px;
}

.container-main p {
  float: left;
}

.product-filter {
  display: flex;
  justify-content: space-between;
}

.tabs {
  /* float: left; */
  font-size: 15px;
  font-weight: 400;
  /* width: 384px; */
  line-height: 16px;
  /* text-align: left; */
  min-width: 75px;
  display: flex;
  /* justify-content: flex-start; */
  /* padding: 0 15px; */
}

.tabs a {
  padding: 4px;
  display: block;
  /* float: left; */
  text-decoration: none;
  color: #3d3d3d;
  /* margin-bottom: 30px; */
  margin: 0 20px 30px 0;
  transition: all 0.1s;
  border-bottom: 3px solid #46a358;
  border: transparent;
}

.tabs a:hover {
  font-weight: 700;
  border-bottom: 3px solid #46a358;
  text-decoration: none;
  color: #46a358;
  /* border: transparent; */
}

.menu-item.active {
  font-weight: 700;
  border-bottom: 3px solid #46a358;
  color: #46a358;
}

.sort {
  display: flex;
  /* float: right; */
  justify-content: space-between;
  /* width: calc(30% - 6px); */
  /* margin: 5px 50px 0 0; */
}

.sort p {
  /* float: left;  */
  /* margin: 0; */
  color: #3d3d3d;
  /* padding-right: 8px; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.sort select {
  border: none;
  border-bottom: 1px solid #fbfbfb;
  background: none;
  font-size: 14px;
  color: #3d3d3d;
  padding: 0 5px 2px 5px;
  outline: none;
  margin-bottom: 36px;
}

.sort select:focus {
  border-bottom: 1px solid #46a358;
}

.sort select::after {
  content: "▼";
  color: #3d3d3d;
  margin-left: 5px;
}

.product-item {
  /* width: calc(30% - 16px); */
  /* margin: 0 16px; */
  display: flex;
}

.product-item a {
  text-decoration: none;
  color: #3d3d3d;
}

.product-item p {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 6px;
  color: #46a358;
}

.product-item-body {
  /* padding-bottom: 70px; */
  position: relative;
  margin-bottom: 90px;
}

.item-product-price {
  display: flex;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main img {
  background-color: #fbfbfb;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 774px;
  /* float: left; */
  /* margin-right: 20px; */
  /* padding: 20px; */
  background-color: #fbfbfb;
}

.sidebar h4 {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  padding: 14px 0 0 18px;
}

.sidebar ul {
  list-style-type: none;
  /* float: left; */
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  margin-top: 23px;
  /* float: left; */
  padding: 7px 0 0 30px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #3d3d3d;
}

.sidebar ul li a:hover {
  font-weight: 700;
  color: #46a358;
}

.sidebar-sale-promo img {
  /* align-items: center; */
  max-width: 310px;
  /* height: auto; */
  /* float: left; */
  display: flex;
  margin-top: 30px;
  /* width: 310px; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.product-item a svg:hover .cart-icon,
.product-item a svg:hover .wishlist-icon,
.product-item a svg:hover .header-search-icon {
  fill: #46a358;
  stroke: #46a358;
  cursor: pointer;
}

.btn-header-cart,
.btn-header-wishlist,
.btn-header-search {
  cursor: pointer;
}

.pagination-item {
  margin-bottom: 94px;
}

.pagination {
  /* float: right; */

  display: flex;
  justify-content: end;
}

.page {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #3d3d3d;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  transition: all 0.5s;
}

.page:hover {
  border-color: #46a358;
}

.page.active {
  background-color: #46a358;
  color: #ffffff;
  border-color: #46a358;
}

.product-item-head .showcase-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.blog-product {
  display: flex;
  margin-bottom: 138px;
  max-width: 1440px;
  gap: 28px;
  justify-content: space-between;
}

.product-item-body p {
  display: flex;
}

.product-item a .product-item-head {
  border-top: 1px solid transparent;
}

.product-item a:hover .product-item-head {
  border-top: 1px solid #46a358;
}

.product-item-head {
  position: relative;
  height: 300px;
  background: #fbfbfb;
  margin-bottom: 12px;
}

.product-item-head-buttons {
  display: none;
  position: absolute;
  bottom: 19px;
  width: 100%;
  text-align: center;
  bottom: 1%;
}

.product-item a:hover .product-item-head-buttons {
  display: block;
}

button {
  padding: 5px;
}

button img {
  max-width: 100%;
}

button {
  appearance: none;
  background: none;
  border: none;
}

.product-item-body .through {
  text-decoration: line-through;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 400;
  /* display: none; */
  padding-left: 16px;
}

/* .product-item:hover .through {
  display: block;
  position: absolute;
  bottom: 19px;
  width: 100%;
  text-align: center;
  top: 48%;
  right: 6%;
} */

.sale-btn {
  color: #ffffff;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  min-width: 70px;
  text-align: center;
  display: block;
  background-color: #46a358;
  padding: 9px 0;
  position: absolute;
  top: 5%;
}

.footer-blog {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

/* СТИЛИ БЛОК до ФУТЕРА */

.product-card {
  /* max-width: 586px; */
  background-color: #fbfbfb;
  position: relative;
  padding: 20px;
  text-align: right;
  /* margin-left: auto; */
  display: flex;
}

.cactus-succulent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 0;
  width: 100%;
  /* width: 586px;  */
}

.styling-trends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 0;
  position: relative;
  width: 100%;
  /* width: 586px; */
  height: 250px;
}

.product-cactus-img > img {
  position: absolute;
  top: -20%;
  right: 65%;
}

.product-styling-img > img {
  position: absolute;
  top: -19%;
  right: 50%;
}

.product-cactus-img,
.product-styling-img {
  width: 230px;
  height: auto;
}

.product-title {
  max-width: 150px;
  font-size: 18px;
  font-weight: 700;
  color: #3d3d3d;
  text-transform: uppercase;
  margin-left: auto;
  line-height: 24px;
}

.description {
  width: 292px;
}

.product-description-info {
  color: #3d3d3d;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start; /* Выровнять по левому краю */
  font-size: 14px;
  color: #727272;
  line-height: 24px;
  margin-left: auto;
}

.button {
  display: inline-block;
  background-color: #46a358;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.5s;
}

.button .icon-arrow-right {
  display: inline-block;
  width: 16px;
  height: auto;
  vertical-align: middle;
}

.button:hover {
  background-color: #218838;
}

/* Секция блога */
.blog-section {
  text-align: center;
  padding: 0;
  width: 100%;
}

/* Заголовок секции */
.section-title {
  font-size: 30px;
  font-weight: 700;
  color: #3d3d3d;
  margin-bottom: 10px;
}

.section-description {
  font-size: 14px;
  color: #727272;
  margin-bottom: 30px;
}

/* Контейнер для карточек постов */
.blog-posts {
  display: flex;
  justify-content: space-between; /* Равномерное распределение карточек */
  gap: 20px;
  padding: 0;
  width: 100%;
}

/* Карточка блога */
.blog-card {
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

/* Изображение поста */
.blog-image {
  width: 100%;
  height: auto;
}

/* Контент карточки */
.blog-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Мета-данные поста */
.blog-meta {
  font-size: 14px;
  color: #46a358;
  margin-bottom: 10px;
}

/* Заголовок поста */
.blog-title {
  font-size: 23px;
  font-weight: 700;
  color: #3d3d3d;
  margin: 0 0 10px;
}

/* Описание поста */
.blog-description {
  width: 240px;
  font-size: 14px;
  color: #727272;
  margin: 0 0 15px;
  line-height: 24px;
}

/* Кнопка "Read More" */
.blog-read-more {
  font-size: 14px;
  color: #3d3d3d;
  text-decoration: none;
  font-weight: 700;
  margin-top: auto;
  transition: all 0.2s;
}

/* Выравниваем стрелочку на кнопке "Read More" */
.icon-blog-arrow-right {
  display: inline-block;
  width: 16px;
  height: auto;
  vertical-align: middle;
}

.blog-read-more:hover {
  color: #46a358;
}

/* КОНЕЦ СТИЛЕЙ БЛОКА ДО ФУТЕРА */

footer {
  background-color: #fbfbfb;
  margin-top: 30px;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  color: #3d3d3d;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-items: center;
}

.footer-blog-card-garden,
.footer-blog-card-plant,
.footer-blog-card-watering {
  display: flex;
  flex-direction: column;
  max-width: 205px;
  padding-top: 50px;
  margin: 24px 0px 24px 25px;
  width: 204px;
  height: 202px;
  background-repeat: no-repeat;
}

.footer-blog-card-garden {
  background-image: url("../img/footer-garden-card.png");
}

.footer-blog-card-plant {
  background-image: url("../img/footer-plant-card.png");
}

.footer-blog-card-watering {
  background-image: url("../img/footer-watering-card.png");
}

.footer-blog-card-garden h3,
.footer-blog-card-plant h3,
.footer-blog-card-watering h3 {
  padding-top: 65px;
  font-weight: 700;
  color: #3d3d3d;
  font-size: 17px;
}

.footer-blog-card-garden p,
.footer-blog-card-plant p,
.footer-blog-card-watering p {
  color: #727272;
  padding-top: 9px;
  font-size: 14px;
  height: 68px;
  width: 207px;
  line-height: 22px;
}

/* начало теста Бордер по бокам для дивака */

.footer-blog-card-plant {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-blog-card-plant::before,
.footer-blog-card-plant::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px; /* Толщина линии */
  background-color: #46a3581a;
}
.footer-blog-card-plant::before {
  left: -30px; /* Расстояние линии от контента */
}

.footer-blog-card-plant::after {
  right: -30px; /* Расстояние линии от контента */
}

/*конец теста Бордер по бокам для дивака  */

.footer-top-newsletter {
  width: 354px;
  height: 202px;
  /* padding-top: 37px; */
  margin: 24px 20px 24px 0px;
}

.footer-top-newsletter h3 {
  padding: 13px 0px 25px 0px;
  font-weight: 700;
  color: #3d3d3d;
  font-size: 17px;
}

.footer-top-newsletter p {
  font-size: 13px;
  color: #727272;
  padding-top: 8px;
  line-height: 22px;
}

.footer-top-newsletter form {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
/* ДОДЕЛАЙ ТЕНИ НА ИНПУТЕ ПЕРЕД СДАЧЕЙ ДЗЫ!!! */
.footer-top-newsletter input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px 0px 0px 5px;
  flex: 1;
  margin-right: -10px;
  box-shadow: 3px 2px 7px -2px #727272;
}

.footer-top-newsletter button {
  padding: 8px 16px;
  background-color: #46a358;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px 3px 7px -1px #727272;
}

.footer-top-newsletter button:hover {
  background-color: #218838;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 88px;
  align-items: center;
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}

.footer-contact-logo {
  margin-left: 23px;
}

.footer-contact a {
  text-decoration: none;
  color: #3d3d3d;
}

.footer-contact-location {
  display: flex;
  width: 200px;
  height: 44px;
}

.footer-contact-mail,
.footer-contact-phone {
  display: flex;
  align-items: center;
}

.footer-contact-mail a,
.footer-contact-phone a {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  margin: 0 25px 0 9px;
  line-height: 22px;
}

.footer-contact-location-img,
.footer-contact-mail-img,
.footer-contact-phone-img {
  display: flex;
  align-items: center;
}

.footer-contact-location p {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  margin-left: 9px;
  line-height: 22px;
}
/* footer list start*/

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.footer-social a:hover {
  color: #1a712a;
  font-weight: 700;
}

.footer-social-list-account h3,
.footer-social-list-help h3,
.footer-social-list-categories h3 {
  font-weight: 700;
  color: #3d3d3d;
}

.footer-social-list-account a,
.footer-social-list-help a,
.footer-social-list-categories a {
  text-decoration: none;
  color: #3d3d3d;
  flex-wrap: nowrap;
}

.footer-social-list-account {
  display: flex;
  flex-direction: column;
  width: 113px;
  height: 174px;
  margin: 33px 0 27px 15px;
}

.footer-social-list-account li,
.footer-social-list-help li,
.footer-social-list-categories li {
  line-height: 28px;
}

.footer-social-list-help {
  display: flex;
  flex-direction: column;
  width: 167px;
  height: 174px;
  margin: 33px 0 27px 54px;
}

.footer-social-list-categories {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 174px;
  margin: 33px 30px 27px 0px;
}

.footer-social-media-list {
  width: 242px;
  /* height: 154px; УБРАЛ из за того что ломается при других размерах экрана */
  display: flex;
  flex-direction: column;
  /* margin-right: 130px; */
}

.blog-card img {
  width: 100%;
  /* max-width: 992px; */
  /* ИЗМЕНЕНИЯ НА АДАПТИВЕ - МОЖЕТ ПОСЫПАТЬ КАРТИНКИ - ПРОВЕРЬ В КОНЦЕ */
}

/* ОБРАТИ ВНИМАНИЕ доработать цвета на ховер соцсетей 
    fill-opacity: 0.5; /* прозрачность заливки */
/* stroke: #ff6c00; цвет обводки */
/* stroke-width: 10px; толщина обводки */
/* stroke-opacity: 0.8; прозрачность обводки */
/* ОБРАТИ ВНИМАНИЕ доработать цвета на ховер соцсетей  */

.footer-social-media-list svg:hover {
  fill: #3d3d3d;
  stroke: #46a358;
  fill-opacity: 0.9;
}

.footer-social-media-list svg:hover .fb-icon {
  fill: #ffffff;
  stroke: #46a358;
  fill-opacity: 0.9;
}

.footer-social-media-list svg:hover .linkedin-icon {
  fill: #ffffff;
  stroke: #46a358;
  fill-opacity: 0.9;
}

.footer-social-media-list svg:hover .instagram-icon {
  fill: #ffffff;
  stroke: #46a358;
  fill-opacity: 0.9;
}

.footer-social-media-list svg:hover .x-icon {
  fill: #ffffff;
  stroke: #46a358;
  fill-opacity: 0.9;
}

.footer-social-media-list svg:hover .youtube-icon {
  fill: #ffffff;
  stroke: #46a358;
  fill-opacity: 0.9;
}

.social-media-list h3 {
  font-weight: 700;
  color: #3d3d3d;
  margin: 42px 0 13px 0;
}

.social-media-accept-list h3 {
  font-weight: 700;
  color: #3d3d3d;
  margin: 35px 0 25px 0;
}

.footer-media-list {
  padding: 10px 0;
  display: flex;
  transform: all 0.2s;
}

/* footer list end*/

/* adaptability Start */

@media (max-width: 1200px) {
  .header-block .container {
    max-width: 1200px;
  }
.product-cactus-img > img {
  right: 48%;
}
  .blog-product .container {
    max-width: 1200px;
    width: 100%;
  }

  .section.welcome-block {
    max-width: 1200px;
  }

  .blog-section {
    max-width: 1200px;
  }

  .blog-posts {
    max-width: 1200px;
  }
}

@media (max-width: 992px) {
  .header-block .container {
    max-width: 992px;
  }

  .product-cactus-img > img {
    position: absolute;
    top: -20%;
    right: 50%;
  }

  .blog-product .container {
    max-width: 992px;
    width: 100%;
  }

  .section.welcome-block {
    max-width: 992px;
  }

  .blog-section {
    max-width: 992px;
  }

  .blog-product {
    max-width: 992px;
    display: flex;
    margin-bottom: 138px;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .blog-card  {
    background-color: #fbfbfb;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: left;
        width: 100%;
        align-items: center;
        padding-top: 20px;
  }

  img.blog-card-image  {
    width: 29%;
  }

  .blog-content  {
    width: 33%;
  }

  .blog-posts {
    max-width: 992px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .welcome-block__image img {
    width: 100%;
    max-width: 992px;
  }

  .cactus-succulent {
    max-width: 992px;
    height: 250px;
    margin-bottom: 55px;
  }

  .styling-trends {
    max-width: 992px;
  }

  .description {
    max-width: 992px;
    width: 53%;
    padding: 15px;
  }

  .footer-blog {
    max-width: 992px;
    flex-wrap: wrap;
  }

  .footer-top-newsletter {
    width: 100%;
    padding: 15px;
  }
  .footer-blog-card-garden p,
  .footer-blog-card-plant p,
  .footer-blog-card-watering p  {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .header-block {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .welcome-block__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section.welcome-block {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .welcome-block__image {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .welcome-block__image img {
    width: 50%;
    max-width: 768px;
  }

  .product-cactus-img > img {
    position: absolute;
    top: -20%;
    right: 50%;
  }

  .sidebar-sale-promo img {
    max-width: 768px;
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 774px;
    background-color: #fbfbfb;
  }

  .blog-card {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    width: 100%;
    align-items: center;
    padding-top: 20px;
  }
  .blog-image {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  img.blog-card-image {
    width: 36%;
  }

  .footer-blog {
    max-width: 768px;
    flex-wrap: wrap;
    max-width: 768px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .footer-contact {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    align-items: center;
    background: linear-gradient(180deg, #edf6ef 0%, #52c368 100%);
    height: 200px;
    padding: 20px;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
    flex-wrap: wrap;
  }

  .footer-social-media-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0 auto;
  }

  .blog-content {
    width: 305px;
  }

  .footer-contact-location p {
    padding: 4px;
    margin: 0;
  }

  .footer-contact-mail a {
    padding: 5px;
    margin: 0;
  }

  .footer-contact-phone a {
    padding: 2px 31px 2px 31px;
    margin: 0;
  }
}

@media (max-width: 540px) {
  .sidebar {
    display: none;
  }

  .product-cactus-img > img {
    position: absolute;
    top: -20%;
    right: 50%;
  }

  .welcome-block__description {
    width: 449px;
  }

  .second-menu {
    top: 40px;
    right: 140px;
    padding-right: 40px;
  }

  img.blog-card-image {
    width: 54%;
  }

  .footer-social {
    position: relative;
  }

  .footer-social-media-list {
    position: absolute;
    top: 55%;
    left: 48%;
    width: 260px;
  }
}

@media (max-width: 320px) {
  .header-block {
  }
  .welcome-block__description {
    width: 240px;
  }

  .navbar-header ul {
    gap: 15px;
  }

  .navbar-header {
    padding: 10px 5px;
  }

  .product-cactus-img > img {
    position: absolute;
    top: -20%;
    right: 50%;
    width: 50%;
  }

  .product-styling-img > img {
    width: 50%;
  }

  .description {
    width: 320px;
  }

  img.blog-card-image {
    width: 96%;
  }

  .footer-social-list {
    width: 320px;
    justify-content: center;
    display: flex;
  }

  .footer-social-media-list {
    width: 260px;
  }

  .footer-social {
    position: none;
  }

  .footer-social-media-list {
    position: static;
  }

  .footer-blog {
    margin-bottom: 80px;
  }

  .footer-top-newsletter h3 {
    padding: 13px 6px 25px 6px;
  }

  .product-description-info {
    width: 140px;
  }

  .second-menu {
    top: 40px;
    right: 97px;
    padding-right: 40px;
  }

  .footer-bottom-copyright {
    padding: 3px;
    width: 210px;
  }

  .blog-content {
    width: 260px;
  }

  .navbar-header ul {
    gap: 9px;
  }

  .tabs {
    flex-direction: column;
  }

  .sort {
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    font-size: 58px;
  }

  .navbar-header li a {
    font-size: 9px;
  }

  .sort p {
    flex-direction: column;
    align-items: center;
  }
  .footer-top-newsletter {
    padding: 6px;
  }

  .section-description {
    line-height: 20px;
  }

  .footer-blog-card-plant::before,
  .footer-blog-card-plant::after {
    content: none;
  }

  .second-menu {
    right: 68px;
  }

  .third-menu {
    left: 94%;

    width: 140px;
  }

  .welcome-block__description {
    width: 210px;
  }

  .footer-top-newsletter button {
    padding: 8px 6px;
  }

  .footer-top-newsletter {
    width: 99%;
  }

  .footer-blog-card-garden p,
  .footer-blog-card-plant p,
  .footer-blog-card-watering p {
    padding: 9px 9px 0 0;
  }
  .footer-top-newsletter h3 {
    padding: 13px 6px 25px 6px;
    line-height: 23px;
  }

  .second-menu {
    right: 52px;
  }
}

/* adaptability END */
